#logo {
    height: 48px;
    width: 48px;
}

h1 {
    color: white;
}
.product-name {
    background-color: #1d5bbf;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.product-name > a > .css-1un8gmf {
    align-self: center;
    margin-bottom: 0;
}

.product-name > a:hover {
    text-decoration: none;
}

.logout-container button.css-1upkw8q-Button {
    /*background-color: #1d5bbf;*/
    transition: background-color .3s ease-in-out;
}

.logout-container button.css-1upkw8q-Button:hover {
    /*background-color: #5691f0;*/
}


.logout-container svg {
    transition: color .3s ease-in-out;
}

.logout-container button.css-1upkw8q-Button:hover svg {
    color: #111111;
}

.css-1i58psh:hover {
    /*background-color: #5691f0;*/
}
